.Header {
    position: sticky;
    top: 0;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.NewNote {
    display: flex;
    flex-direction: column;
}