.NoteItem {
    border: 1px solid black;
    width: 90%;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    height: auto;
}

.NoteItem header {
    display: flex;
    justify-content: space-between;
}

.NoteItem__Title:disabled {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.NoteItem__Body{
    width: 99%;
    height: auto;
    resize: none;
}

.NoteItem__Body:disabled {
    background: none;
    border: none;
}